{{#*inline "body"}}

<div class="search-container">
  <form action="/search" method="get">
    <input type="hidden" name="t" value="general">
    <input type="text" class="homepage-bar" placeholder="Search for..." name="q" autofocus>
  </form>
</div>

{{/inline}}
{{> layout}}