{{#*inline "body"}}

<div class="search-container">
  <form action="/search" method="post">
    <input type="text" class="search-bar" placeholder="Search for..." name="query" autofocus>
  </form>
</div>

{{/inline}}
{{> layout}}