{{#*inline "body"}}

<script type="text/javascript" src="static/search.js"></script>

<div class="search-bar-container">
  <form action="/search" method="get">
    <input type="text" class="search-bar" placeholder="Search for..." name="q">
  </form>
</div>

<div class="results-container"></div>


{{/inline}}
{{> layout}}