{{#*inline "body"}}

<div class="results-container"></div>

<script type="text/javascript" src="static/search.js"></script>

<script>
  // Server injects this dynamically
  const QUERY_ID = "{{ query_id }}";

  addEventListener("DOMContentLoaded", (event) => {
    createSkeletons(20, 0)
    window.scrollTo(0, 0);

    if (!QUERY_ID) return;
    // Start polling and rendering results
    startPolling(QUERY_ID);
  });
</script>

{{/inline}}
{{> layout}}