<!doctype html>
<html>

<head>
  <title>Private Search - {{ title }}</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" sizes="300x300" href="static/transparent_300.png">
  <link rel="icon" type="image/x-icon" sizes="300x300" href="static/300.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{~> body}}
</body>

</html>
