<!doctype html>
<html>

<head>
  <title>Private Search - {{ title }}</title>
  <link rel="stylesheet" href="static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{~> body}}
</body>

</html>