{{#*inline "body"}}

<header class="top-bar">
  <div class="search-bar-container" onsubmit="return onSearchSubmit()">
    <form action="/search" method="get">
      <input id="search-type" type="hidden" name="t" value="general">
      <input type="text" class="search-input" placeholder="Search for..." name="q" autocomplete="off">
    </form>
  </div>

  <nav class="search-categories">
    <a href="#" class="category" data-tab="general"
      onclick="window.location.href='/search?q=' + encodeURIComponent(get_query()) + '&t=general'; return false;">
      General
    </a>

    <a href="#" class="category" data-tab="images"
      onclick="window.location.href='/search?q=' + encodeURIComponent(get_query()) + '&t=images'; return false;">
      Images
    </a>
  </nav>
</header>

<!-- NORMAL SEARCH RESULTS -->
<div class="results-container"></div>

<!-- IMAGE GALLERY (HIDDEN BY DEFAULT) -->
<div class="image-gallery"></div>

<script type="text/javascript" src="static/search.js"></script>

{{/inline}}
{{> layout}}
